<div class="container">
    <div class="row">
        <h2 class="col-sm-10">Teachers</h2>
        <button class="btn btn-info col-sm-2" routerLink="/teacher-add">
            <i class="fa fa-add"></i>Add teacher
        </button>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12 list-group pr-0">
            <ul class="teachers">
                <li *ngFor="let teacher of teachers" class="list-group-item list-group-item-action">
                    <a routerLink="/teacher-detail/{{teacher.id}}">
                        {{teacher.firstName}} {{teacher.lastName}}
                    </a>
                    <button type="button" class="close" aria-label="Close" title="delete teacher" (click)="delete(teacher)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>