<div class="container">
<div class="row">
<h2 class="col-sm-10">Students</h2>
<button class="btn btn-info col-sm-2" routerLink="/student-add">
  <i class="fa fa-add"></i>Add student
</button>
</div>
<br/>
<div class="row">
<div class="col-sm-12 list-group pr-0">
    <ul class="students">
        <li *ngFor="let student of studentsey" class="list-group-item list-group-item-action">
    <a routerLink="/student-detail/{{student?.id}}">
      {{student?.firstName}} {{student?.lastName}}</a>
      <button type="button" class="close" aria-label="Close" title="delete student"
    (click)="delete(student)">
    <span aria-hidden="true">&times;</span>
      </button>
    </li>
    </ul>
  </div>
</div>
</div>
