table {
    margin-bottom: 20px;
    box-shadow:5px 5px 12px #888888;
}
table, td, th {
    border: 1px solid gray;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}
table {
    text-align: center;   
 }
 caption {
    caption-side: top;
 }
 .teacherSig {
     font-family: 'Calligraffitti';
 }
